body {
    /* width: 1980px; */
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* width: 1280px; */
    margin: 0 auto;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
  }
  
  address {
    font-style: normal;
  }
  button {
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    /* color: black; */
  }
  
  .list {
    list-style: none;
  }
  
  .link {
    text-decoration: none;
  }
  
  .container {
    /* width: 1280px; */
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    /* border: 1px solid red; */
  }

  /* ============header+================ */
  .header{
    padding: 30px 0 30px 0;
    background-color: hsl(0, 0%, 96%, 0.3);

   
    
  }
  .nav-list{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  

  }
  .nav-link{
   
    font-size: 24px;
    line-height: 28px;
    
    color:#9fa09f;
  }

  @keyframes changeBgColor {
    0% {
      color: rgb(9, 172, 22);
    }
  
 
  
    100% {
      color: rgb(7, 104, 39);
    }
  }

  @keyframes move {
    0% {
      transform: translatex(-300PX);
    }
  
    100% {
      transform: translatex(0);
    }
  }

  @keyframes move-right {
    0% {
      transform: translatex(300PX)
    }
  
    100% {
      transform: translatex(0)
    }
  }

  @keyframes move-rotate {
    0% {
      rotate: (0deg) ; 
    }
  
    100% {
      rotate: (180deg);
    }
  }

  @keyframes bg-img {
    0% {
      opacity: 0%;
    }
  
    100% {
      opacity: 100%;
    }
  }

  .nav-link:hover,
  .nav-link:focus{
    color:  #070707;
    animation-name: changeBgColor;
    animation-duration: 3000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }



  /* --------------------header---------- */
  .main{
    
  }
  .section-name{
    padding: 40px 0 40px 0;
  }

  .name{
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;

    animation-name: move;
    animation-duration: 1000ms;
    animation-timing-function:unset
  }
  .name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name-text{
    
    
    font-size: 12px;
    line-height: 16px;
    color: #070707;
  }


  .name-language{
    
    
    
    transform: rotate(-90deg);
   
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #070707;

   

    animation-name: move-right;
    animation-duration: 1000ms;
    animation-timing-function: unset;

    
 

    
  }



  .section-first{
    /* position: absolute; */
 
    height: 500px ;
    width: 100%;
    background-image: url(../img/IMG_4305.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    animation-name:bg-img;
    animation-duration: 3000ms;
    animation-timing-function:unset
  }

  .section-about{
    padding: 120px 0 120px 0;
    background-color: hsl(0, 0%, 96%, 0.3);
  }

  .about-container{

  }

  .about-title{
    font-size: 34px;
    line-height: 42px;
    text-align: center;

    /* Black */

    color: #070707;
    margin-bottom: 50px;

   
  }

  .about-text{

    font-size: 18px;
    line-height: 22px;
    text-align: center;

    /* Black */

    color: #070707; 

  }

  .about-text:not(:last-child){
    margin-bottom: 50px;
  }

